<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>CodeCheftool</title>
    <style>
    @font-face {
        font-family: 'humor';
        src: url('/static/Humor-Sans.woff') format('woff'), url('/static/Humor-Sans.ttf') format('truetype');
    }
    
    .loaded {
        visibility: hidden;
    }
    
    html,
    body {
        /*height: 100% !important;*/
        /*min-height: 100%;*/
        margin: 0;
        padding: 0;
    }
    
    .loading_overlay {
        /*height: 100%;*/
        /*min-height: 100%;*/
        width: 100%;
        min-width: 100%;
        z-index: 1000;
        background-color: #FFF;
        position: absolute;
    }
    
    #loader_message {
        /*position: absolute;*/
        left: 20%;
        right: 20%;
    }
    </style>
    <link rel="stylesheet" href="/static/loader_style.css">
    <script src="/static/nanobar.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <link rel="stylesheet" type="text/css" href="/static/keen-dashboards.css" />

    <style>
    .ct-label {
        color: black;
        font-size: 0.95rem;
    }
    .center {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    
    .ct-golden-section {
        display: block;
        position: relative;
        width: 1200px;
    }
    </style>
    <!-- <link rel="stylesheet" href="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.css" /> -->
    <!-- <link rel="stylesheet" href="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.css" /> -->
</head>

<body>

    <body style="">
        <div id="loading_overlay" class="loading_overlay">
            <div class="socket">
                <div class="gel center-gel">
                    <div class="hex-brick h1"></div>
                    <div class="hex-brick h2"></div>
                    <div class="hex-brick h3"></div>
                </div>
                <div class="gel c1 r1">
                    <div class="hex-brick h1"></div>
                    <div class="hex-brick h2"></div>
                    <div class="hex-brick h3"></div>
                </div>
                <div class="gel c2 r1">
                    <div class="hex-brick h1"></div>
                    <div class="hex-brick h2"></div>
                    <div class="hex-brick h3"></div>
                </div>
                <div class="gel c3 r1">
                    <div class="hex-brick h1"></div>
                    <div class="hex-brick h2"></div>
                    <div class="hex-brick h3"></div>
                </div>
                <div class="gel c4 r1">
                    <div class="hex-brick h1"></div>
                    <div class="hex-brick h2"></div>
                    <div class="hex-brick h3"></div>
                </div>
                <div class="gel c5 r1">
                    <div class="hex-brick h1"></div>
                    <div class="hex-brick h2"></div>
                    <div class="hex-brick h3"></div>
                </div>
                <div class="gel c6 r1">
                    <div class="hex-brick h1"></div>
                    <div class="hex-brick h2"></div>
                    <div class="hex-brick h3"></div>
                </div>
                <div class="gel c7 r2">
                    <div class="hex-brick h1"></div>
                    <div class="hex-brick h2"></div>
                    <div class="hex-brick h3"></div>
                </div>
                <div class="gel c8 r2">
                    <div class="hex-brick h1"></div>
                    <div class="hex-brick h2"></div>
                    <div class="hex-brick h3"></div>
                </div>
                <div class="gel c9 r2">
                    <div class="hex-brick h1"></div>
                    <div class="hex-brick h2"></div>
                    <div class="hex-brick h3"></div>
                </div>
                <div class="gel c10 r2">
                    <div class="hex-brick h1"></div>
                    <div class="hex-brick h2"></div>
                    <div class="hex-brick h3"></div>
                </div>
                <div class="gel c11 r2">
                    <div class="hex-brick h1"></div>
                    <div class="hex-brick h2"></div>
                    <div class="hex-brick h3"></div>
                </div>
                <div class="gel c12 r2">
                    <div class="hex-brick h1"></div>
                    <div class="hex-brick h2"></div>
                    <div class="hex-brick h3"></div>
                </div>
                <div class="gel c13 r2">
                    <div class="hex-brick h1"></div>
                    <div class="hex-brick h2"></div>
                    <div class="hex-brick h3"></div>
                </div>
                <div class="gel c14 r2">
                    <div class="hex-brick h1"></div>
                    <div class="hex-brick h2"></div>
                    <div class="hex-brick h3"></div>
                </div>
                <div class="gel c15 r2">
                    <div class="hex-brick h1"></div>
                    <div class="hex-brick h2"></div>
                    <div class="hex-brick h3"></div>
                </div>
                <div class="gel c16 r2">
                    <div class="hex-brick h1"></div>
                    <div class="hex-brick h2"></div>
                    <div class="hex-brick h3"></div>
                </div>
                <div class="gel c17 r2">
                    <div class="hex-brick h1"></div>
                    <div class="hex-brick h2"></div>
                    <div class="hex-brick h3"></div>
                </div>
                <div class="gel c18 r2">
                    <div class="hex-brick h1"></div>
                    <div class="hex-brick h2"></div>
                    <div class="hex-brick h3"></div>
                </div>
                <div class="gel c19 r3">
                    <div class="hex-brick h1"></div>
                    <div class="hex-brick h2"></div>
                    <div class="hex-brick h3"></div>
                </div>
                <div class="gel c20 r3">
                    <div class="hex-brick h1"></div>
                    <div class="hex-brick h2"></div>
                    <div class="hex-brick h3"></div>
                </div>
                <div class="gel c21 r3">
                    <div class="hex-brick h1"></div>
                    <div class="hex-brick h2"></div>
                    <div class="hex-brick h3"></div>
                </div>
                <div class="gel c22 r3">
                    <div class="hex-brick h1"></div>
                    <div class="hex-brick h2"></div>
                    <div class="hex-brick h3"></div>
                </div>
                <div class="gel c23 r3">
                    <div class="hex-brick h1"></div>
                    <div class="hex-brick h2"></div>
                    <div class="hex-brick h3"></div>
                </div>
                <div class="gel c24 r3">
                    <div class="hex-brick h1"></div>
                    <div class="hex-brick h2"></div>
                    <div class="hex-brick h3"></div>
                </div>
                <div class="gel c25 r3">
                    <div class="hex-brick h1"></div>
                    <div class="hex-brick h2"></div>
                    <div class="hex-brick h3"></div>
                </div>
                <div class="gel c26 r3">
                    <div class="hex-brick h1"></div>
                    <div class="hex-brick h2"></div>
                    <div class="hex-brick h3"></div>
                </div>
                <div class="gel c28 r3">
                    <div class="hex-brick h1"></div>
                    <div class="hex-brick h2"></div>
                    <div class="hex-brick h3"></div>
                </div>
                <div class="gel c29 r3">
                    <div class="hex-brick h1"></div>
                    <div class="hex-brick h2"></div>
                    <div class="hex-brick h3"></div>
                </div>
                <div class="gel c30 r3">
                    <div class="hex-brick h1"></div>
                    <div class="hex-brick h2"></div>
                    <div class="hex-brick h3"></div>
                </div>
                <div class="gel c31 r3">
                    <div class="hex-brick h1"></div>
                    <div class="hex-brick h2"></div>
                    <div class="hex-brick h3"></div>
                </div>
                <div class="gel c32 r3">
                    <div class="hex-brick h1"></div>
                    <div class="hex-brick h2"></div>
                    <div class="hex-brick h3"></div>
                </div>
                <div class="gel c33 r3">
                    <div class="hex-brick h1"></div>
                    <div class="hex-brick h2"></div>
                    <div class="hex-brick h3"></div>
                </div>
                <div class="gel c34 r3">
                    <div class="hex-brick h1"></div>
                    <div class="hex-brick h2"></div>
                    <div class="hex-brick h3"></div>
                </div>
                <div class="gel c35 r3">
                    <div class="hex-brick h1"></div>
                    <div class="hex-brick h2"></div>
                    <div class="hex-brick h3"></div>
                </div>
                <div class="gel c36 r3">
                    <div class="hex-brick h1"></div>
                    <div class="hex-brick h2"></div>
                    <div class="hex-brick h3"></div>
                </div>
                <div class="gel c37 r3">
                    <div class="hex-brick h1"></div>
                    <div class="hex-brick h2"></div>
                    <div class="hex-brick h3"></div>
                </div>
            </div>
            <div>
                <h1 id="loader_message" style="font-family:'humor';margin-top:35%" class="text-center">
                    cooking some Awesome charts for you.
                </h1>
            </div>
        </div>
        <div>
            <!-- <div id="cal-heatmap"></div> -->
            <!-- <h1>Lets see which days you are most active.</h1> -->
            <!-- <div id='chartDiv'></div> -->
            <!-- <div id="totalSols"></div> -->
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-8">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Questions solved date wise
                        </div>
                        <div class="chart-stage">
                            <!-- <div id="chart-01"></div> -->
                            <div id="chartista" class="center ct-chart hide"></div>
                        </div>
                        <div class="chart-notes">
                            <!-- This is a sample text region to describe this chart. -->
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            <!-- Pageviews by browser (past 5 days) -->
                        </div>
                        <div class="chart-stage">
                            <div id="chart-02"></div>
                        </div>
                        <div class="chart-notes">
                            <!-- Notes go down here -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            <!-- Impressions by advertiser -->
                        </div>
                        <div class="chart-stage">
                            <div id="chart-03"></div>
                        </div>
                        <div class="chart-notes">
                            <!-- Notes go down here -->
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            <!-- Impressions by device -->
                        </div>
                        <div class="chart-stage">
                            <div id="chart-04"></div>
                        </div>
                        <div class="chart-notes">
                            <!-- Notes go down here -->
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            <!-- Impressions by country -->
                        </div>
                        <div class="chart-stage">
                            <div id="chart-05"></div>
                        </div>
                        <div class="chart-notes">
                            <!-- Notes go down here -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="chart-wrapper">
                        <!-- <img data-src="holder.js/100%x150/white"> -->
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="chart-wrapper">
                        <!-- <img data-src="holder.js/100%x150/white"> -->
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="chart-wrapper">
                        <!-- <img data-src="holder.js/100%x150/white"> -->
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="chart-wrapper">
                        <!-- <img data-src="holder.js/100%x150/white"> -->
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </body>
    <!-- // <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <!-- // <script type="text/javascript" src="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.min.js"></script> -->
    <!-- // <script src="https://cdn.zingchart.com/zingchart.min.js"></script> -->
    <script>
    username = '{{username}}'
    max_page = Number('{{max_page}}')
    apllicable_texts = [
        'cooking some Awesome charts for you.',
        'baking some raw data.',
        'loading oven machines.',
        'whoa, that looks really cool.',
        'adding cherry blue toppings.'
        // 'thats too nice to handle, calling Adele to cook for us.'
    ];
    t = 0;
    respo = {};
    hour_array = [];
    minute_array = [];
    problem_code_array = [];
    qstatus_array = [];
    date_d_array = [];
    date_m_array = [];
    date_y_array = [];
    lang_array = [];
    know_array = [];
    loader_count = 0;
    fine_arr = new Array([]);
    max_a = ~~(max_page / 10);

    function changeText() {
        var baketext = apllicable_texts[Math.floor(Math.random() * apllicable_texts.length)];
        $('#loader_message').text(baketext);
    }

    function hide_loader() {
        clearInterval(t);
        $('#loading_overlay').addClass('fade');
        $('#loading_overlay').addClass('hide');
        $('#chartista').removeClass('hide');
        $('#mynano').addClass('hide');

    }

    function create_charta() {
        console.log(date_d_array);
        var _labels = [];
        for (var i = 1; i < 32; i++) {
            _labels[i] = i;
        };
        var data = {
            // A labels array that can contain any sort of values
            labels: _labels,
            // Our series array that contains series objects or in this case series data arrays
            series: [
                date_d_array
            ]
        };
        var options = {
            // showArea: true,
            // showLine: false,
            // showPoint: false,
            axisY: {
                type: Chartist.AutoScaleAxis,
                onlyInteger: true
            },
            // width: 1200,
            height: 400
        };

        // Create a new line chart object where as first parameter we pass in a selector
        // that is resolving to our chart container element. The Second parameter
        // is the actual data object.
        new Chartist.Bar('.ct-chart', data, options);
    }

    function fill_other_tables(know_array) {
        console.log(qstatus_array);
        // $('#totalSols').text('We have fetched ' + know_array.length + ' soutions');
        // console.log(fine_arr);
    }


    window.onload = function() {
        for (var i = 1; i < 25; i++) {
            fine_arr[i] = [];
        };
        for (var i = 1; i < 32; i++) {
            date_d_array[i] = 0;
        };
        t = setInterval(changeText, 5000);

        console.log("max paages are:" + max_page);

        max_page--;
        var options = {
            bg: '#acf',

            // leave target blank for global nanobar
            // target: document.getElementById('myDivId'),

            // id for new nanobar
            id: 'mynano'
        };

        var nanobar = new Nanobar(options);

        // per_page = 10 < max_page ? 10 : max_page;
        // per_page = 10

        // max_a = 2
        for (var i = 0; i <= max_a; i++) {
            var per_page = 9;
            // console.log("sending request from " + (i * 10) + ' to ' + ((i * 10) + per_page));
            $.ajax({
                url: '/ajax_data/' + username,
                type: 'GET',
                data: {
                    start: i * 10,
                    end: (i * 10) + per_page
                },
                success: function(data) {
                    // console.log(data);
                    loader_count++;
                    nanobar.go(~~((loader_count / max_page) * 100));
                    // ~~(max_page / 10);
                    obj_arr = JSON.parse(data);
                    for (bj in obj_arr.content) {
                        var obj = obj_arr.content[bj];
                        hour_array.push(Number(obj.hours));
                        minute_array.push(Number(obj.minutes));
                        // console.log(Number(obj.hours)+" : "+Number(obj.minutes));
                        problem_code_array.push(obj.problem_code);
                        
                        // qstatus_array.push(obj.qstatus);
                        if (!qstatus_array[''+obj.qstatus]) {qstatus_array[obj.qstatus]=1}else{qstatus_array[obj.qstatus]++};
                        date_d_array[Number(obj.date_d)]++;
                        date_m_array.push(Number(obj.date_m));
                        date_y_array.push(Number(obj.date_y));
                        lang_array.push(obj.langz);
                        know_array.push([Number(obj.hours), Number(obj.minutes)]);

                        if (!fine_arr[Number(obj.hours)][Number(obj.minutes)]) {
                            fine_arr[Number(obj.hours)][Number(obj.minutes)] = 1;
                        } else {
                            fine_arr[Number(obj.hours)][Number(obj.minutes)]++;
                        };
                    }
                    // make_charts();
                    // console.log("loader_count is " + loader_count);
                    // console.log("max_a is " + max_a);
                    if (loader_count > max_a) {
                        hide_loader();
                        create_charta();
                        // chart_init(know_array);
                        fill_other_tables(know_array);

                    };
                },
                error: function(e) {
                    //called when there is an error
                    //console.log(e.message);
                }
            });
        };
    }
    </script>
</body>

</html>
<!-- 
Code chef user analysis tool 
@author
Alaf azam khan
 -->
 <!--  -->
