<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Codechef</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <style>
    #modal_wrapper{
        top:400px;
    }
    .modal-footer{
        border-top: 0px; 
    }
    .modal-header{
        text-align: center;
        border-bottom: 0px; 
    }
    .modal-body{
        text-align: center;
        border-bottom: 0px; 
    }
    #modal-dialog{
        width:400px;
    }

    </style>
    
    <script>
    function go_get_it() {
        var c = document.getElementById('userhandle');
        var user = c.value.toLowerCase();
        // username check
        if (!/^[a-z]{1}[a-z0-9_]{3,13}$/.test(user)) {
            alert('Input is not alphanumeric');
            return false;
        }
        console.log(user);
        window.location.href = '/get/' + user.toString();

    }

    function clear() {
        // console.log("sdfs");
        var c = document.getElementById('userhandle').value = " ";
    }
    </script>
</head>

<body>
    <!-- Modal -->
    <div id="modal_wrapper" class=''>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Message</h4>
                    </div>
                    <div class="modal-body">{{message}}</div>
                    <div class="modal-footer">
                        <button type="button" class="close btn btn-default" data-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
    </div>

    <div class="container">
        <div class="" style="max-width:700px;margin-top:200px;">
            <div class="form-horizontal">
                <!-- <fieldset> -->
                <!-- Form Name -->
                <legend>Code Chef User Analysis tool -by Alaf</legend>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="textinput">User Handle</label>
                    <div class="col-md-4">
                        <input id="userhandle" type="text" placeholder="" value="" class="form-control input-md">
                    </div>
                </div>
                <!-- Button (Double) -->
                <div class="form-group">
                    <!-- <label class="col-md-4 control-label" for="button1id">Double Button</label> -->
                    <div class="col-md-offset-4 col-md-8">
                        <button id="searchbtn" class="btn btn-success" onclick="go_get_it();">Search</button>
                        <button id="claerbtn" class="btn btn-danger" onclick="clear()">Clear</button>
                    </div>
                </div>
                <!-- </fieldset> -->
                <!-- </form>     -->
            </div>
        </div>
    </div>
</body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>


<script>

 message = '{{message}}'
 if (message!='') {
    $('#myModal').addClass('show');
    $('#myModal').removeClass('fade');
    $('.close').click(function () {
        $('#myModal').addClass('fade');
        $('#myModal').addClass('show');
    });    
 };

// todo 
// write a function to catch 'enter' key press event



</script>
</html>
<!-- 
Code chef user analysis tool 
@author
Alaf azam khan
 -->
