<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Codechef</title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

    <style>
    #modal_wrapper{
        top:400px;
    }
    .modal-footer{
        border-top: 0px;
    }
    .modal-header{
        text-align: center;
        border-bottom: 0px;
    }
    .modal-body{
        text-align: center;
        border-bottom: 0px;
    }
    #modal-dialog{
        width:400px;
    }
    .header{
        color: #ee6e73;
        font-weight: 300;
    }
    #me{
        color: white;
        font-weight: 300;
    }
    </style>
</head>

<body>
    <!-- Modal -->
    <div id="modal_wrapper" class=''>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Message</h4>
                    </div>
                    <div class="modal-body">{{message}}</div>
                    <div class="modal-footer">
                        <button type="button" class="close btn btn-default" data-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
    </div>
    <h1 class="header center light ">Code Chef User Analysis tool</h1>
    <div class="container">
        <div class="" style="max-width:700px;margin-top:200px;margin-bottom:190px;">
            <div class="form-horizontal">
                <!-- <fieldset> -->
                <!-- Form Name -->
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="textinput">User Handle</label>
                    <div class="col-md-4">
                        <input id="userhandle" type="text" placeholder="" value="" class="form-control input-md">
                    </div>
                </div>
                <!-- Button (Double) -->
                <div class="form-group">
                    <!-- <label class="col-md-4 control-label" for="button1id">Double Button</label> -->
                    <div class="col-md-offset-4 col-md-8">
                        <a id="searchbtn" href="/demo" class="btn green white-text btn-success" onclick="//go_get_it();">Search</a>
                        <button id="clearbtn" class="btn red white-text btn-danger" onclick="clear()">Clear</button>
                        <a href="/demo" class="btn blue darken-1 white-text">Demo</a>
                    </div>
                </div>
                <!-- </fieldset> -->
                <!-- </form>     -->
            </div>
        </div>
    </div>

        <footer class="page-footer">
          <div class="footer-copyright">
            <div class="container">
            © Made by <a id="me" href="https://github.com/Alafazam" class="" >Alafazam</a>
            </div>
          </div>
        </footer>
</body>

    <script>
    document.getElementById('clearbtn').onclick = function() {
        document.getElementById('userhandle').value = "";
    };
    </script>
</html>
<!--
Code chef user analysis tool
@author Alaf azam khan
-->
